{{#extends 'base'}}

{{#block 'content'}}
<h1>My shopping cart</h1>

<ul class="list-group">
    <a class="btn btn-success" href="/cart/clear">Clear Cart</a>
    {{#each cartItems}}
    <li class="list-group-item my-3">
        <h4>Product Name: {{productslot.product.product_name}}</h3>
            <img src="{{productslot.product.thumbnail_url}}"/>
            <h5>Cost (in cents): {{productslot.product.product_price}} </h5>        
            <h5>Quantity: {{cart_items_quantity}}</h5>
            <a class="btn btn-success" href="/cart/{{product_slots_id}}/add-one">AddOne</a>
            <a class="btn btn-secondary" href="/cart/{{product_slots_id}}/delete-one">DeleteOne</a>
            <a class="btn btn-primary" href="/cart/{{product_slots_id}}/delete-item">Delete</a>   
    </li>
    
    {{/each}}
</ul>
{{/block}}


{{/extends}}