{{#extends 'base'}}

{{#block 'content'}}
    {{#if error_messages}}
        <div class="alert alert-danger">
            {{this.error_messages}}
        </div>
    {{/if}}

    {{!-- start of tabs --}}
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/products" onclick="">Product Listings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/products/add">Add New Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/manage-sessions">Sessions</a>
      </li>
    </ul>
    {{!-- end of tabs --}}
    
    <h1 class="add-products-header">Add New Product</h1>
    
        <div id="preview-card-title-div">
            <h4>Preview of Card</h4>
        </div>
        <div id="preview-card-div">
            <div class="card" style="width: 18rem;">
                <img id="card-image" class="card-img-top" src="/images/preview.png" alt="preview image">
                <div class="card-body">
                    <h5 id="product_name" class="card-title">Card title</h5>
                    <p id="product_description" class="card-text">Design the product card display by filling in the form below!</p>
                    <p id="product_price">$ 0.00</p>
                    <btn class="btn btn-success">Book Now!</btn>
                </div>
            </div>
        </div>
   

    <form method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        <div id="add-product-form-div">
            {{{form}}}
        </div>
        <div>
            <a href="#" class = "btn btn-primary" id="upload_widget">Upload</a>
            <img src="" style="display:none" id="uploaded_image"/>
        </div>
        <input type="submit" value= "Add Product" class="btn btn-primary"/>
    </form>
{{/block}}



{{#block 'script'}}
{{!-- axios cdn --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>

{{!-- cloudinary widget cdn --}}
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

<script>

    function generateSignature(callback, params_to_sign) {
        axios.get('/upload-image/sign', {
            params: {
                params_to_sign
            }
        }).then(function(response) {
            callback(response.data)
        })
    }
    var myWidget = cloudinary.createUploadWidget({
        cloudName: `{{cloudinary_variables.cloudinaryName}}`,
        apiKey: `{{cloudinary_variables.cloudinaryApiKey}}`,
        uploadPreset: `{{cloudinary_variables.cloudinaryPreset}}`,
        uploadSignature: generateSignature
    }, (error, result) => {
        if (!error && result.event === "success") {
            console.log('Done! Here is the image infor: ', result)
            document.querySelector("#upload_widget").style.display="none"
            document.querySelector('#id_image_url').value = result.info.url
            document.querySelector('#id_thumbnail_url').value = result.info.thumbnail_url
            document.querySelector("#card-image").src = result.info.url
            document.querySelector('#uploaded_image').src = result.info.thumbnail_url
            document.querySelector('#uploaded_image').style.display = 'inline'
        }
    })

    document.getElementById("upload_widget").addEventListener('click', function() {
        myWidget.open()
    }, false)

    document.querySelector("#id_product_name").addEventListener("change", function(){
        document.querySelector("#product_name").innerHTML = document.querySelector("#id_product_name").value
    })
    document.querySelector("#id_product_description").addEventListener("change", function(){
        document.querySelector("#product_description").innerHTML = document.querySelector("#id_product_description").value
    })
    document.querySelector("#id_product_price").addEventListener("change", function(){
        document.querySelector("#product_price").innerHTML = '$' + (document.querySelector("#id_product_price").value)
    })

</script>






{{/block}}



{{/extends}}