{{#extends 'base'}}

{{#block 'content'}}

<div class = "alert alert-danger">
    <h1>Warning!</h1>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        <div>
            <p>Are you sure you want to delete {{product.product_name}} ?</p>
            <input type="submit" class= "btn btn-danger" value="Yes"/>
            <a href="/products" class= "btn btn-success">No</a>
        </div>
    </form>
</div>


    <div id="preview-card-title-div">
        <h4>{{product.product_name}}</h4>
    </div>
    <div id="preview-card-div">
        <div class="card" style="width: 18rem;">
            <img id="card-image" class="card-img-top" src="{{product.image_url}}" alt="preview image">
            <div class="card-body">
                <h5 id="product_name" class="card-title">{{product.product_name}}</h5>
                <p id="product_description" class="card-text">{{product.product_description}}</p>
                <p id="product_price"></p>
                <btn class="btn btn-success">Book Now!</btn>
            </div>
        </div>
    </div>

{{/block}}


{{#block 'script'}}
<script>
window.addEventListener('DOMContentLoaded', function() {
    document.querySelector("#product_price").innerHTML = "$" + {{product.product_price}} / 100
})
</script>
{{/block}}



{{/extends}}