{{#extends 'base'}}

{{#block 'content'}}
<h1>Here to view all the inventory</h1>
<a class="btn btn-primary" href="/products/add">Add</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Vendor ID</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
            <tr>
                <td>{{id}}</td>
                <td>{{product_name}}</td>
                <td>{{product_description}}</td>
                <td>{{product_price}}</td>
                <td>{{vendor_id}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>


{{/block}}


{{/extends}}