{{#extends 'base'}}

{{#block 'content'}}
    {{#if success_messages}}
        <div class="alert alert-success">
            {{this.success_messages}}
        </div>
    {{/if}}

    {{#if error_messages}}
        <div class="alert alert-danger">
            {{this.error_messages}}
        </div>
    {{/if}}

    
    {{!-- start of tabs --}}
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/products" onclick="">Product Listings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/add">Add New Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/manage-sessions">Sessions</a>
      </li>
    </ul>
    {{!-- end of tabs --}}
    

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">

            {{!-- start of Active Products --}}
            {{!-- Accordion Header --}}
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Active Listings
                </button>
            </h2>
            {{!-- Accordion Body --}}
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne" data-bs-parent="#accordionExample">
                {{#if activeProducts}}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Thumbnail</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Price/Pax</th>
                            <th>Room Size</th>
                            <th>Edit Product</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each activeProducts}}
                            <tr>
                                <td>
                                    <img src='{{thumbnail_url}}'/>
                                </td>
                                <td>{{product_name}}</td>
                                <td>{{product_description}}</td>
                                <td>${{changeToDollar product_price}}</td>
                                <td>{{room_size}}</td>
                                <td>
                                    <a href="/products/{{id}}/update" class="btn btn-sm btn-primary">Update</a>
                                    <a href="/products/{{id}}/delete" class="btn btn-sm btn-danger">Delete</a>
                                    <a href="/products/{{id}}/remove-listing" class="btn btn-sm btn-secondary">Change To Inactive</a>
                                    <a href="/products/{{id}}/add-session" class="btn btn-sm btn-success">Add Session</a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{else}}
            <h1>You have no active listings</h1>
            {{/if}}


            {{!-- end of Active Products --}}


            {{!-- Start of Inactive Products --}}
            {{!-- Accordion Header --}}
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                    Inactive Listings
                </button>
            </h2>
            {{!-- Accordion Body --}}
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo" data-bs-parent="#accordionExample">
                {{#if inactiveProducts}}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Thumbnail</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Price/Pax</th>
                            <th>Room Size</th>
                            <th>Edit Product</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each inactiveProducts}}
                            <tr>
                                <td>
                                    <img src='{{thumbnail_url}}'/>
                                </td>
                                <td>{{product_name}}</td>
                                <td>{{product_description}}</td>
                                <td>${{changeToDollar product_price}}</td>
                                <td>{{room_size}}</td>
                                <td>
                                    <a href="/products/{{id}}/update" class="btn btn-sm btn-primary">Update</a>
                                    <a href="/products/{{id}}/delete" class="btn btn-sm btn-danger">Delete</a>
                                    <a href="/products/{{id}}/add-listing" class="btn btn-sm btn-secondary">Change To Active</a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                    <h1>No Products Avail</h1>
                {{/if}}
                
                
            </div>
            {{!-- end of Inactive Products --}}
            
        </div>
    </div>

{{/block}}

{{#block 'script'}}
{{/block}}


{{/extends}}