

{{#extends 'base'}}

{{#block 'content'}}

    {{!-- start of tabs --}}
        <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/products" onclick="">Product Listings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products/add">Add New Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/products/manage-sessions">Manage Sessions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/orders/all">Manage Orders</a>
        </li>
        </ul>
    {{!-- end of tabs --}}



    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">

            {{!-- Accordion Header --}}
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Upcoming Sessions
                </button>
            </h2>

            {{!-- Accordion Body --}}
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne" data-bs-parent="#accordionExample">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">Product</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Slots left</th>
                            <th>Manage Orders</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each product}}
                            {{#each productslots}}
                            <tr>
                                <td>
                                    <img src='{{../thumbnail_url}}'/>
                                </td>
                                <td>{{../product_name}}</td>
                                <td>{{slot_datetime}}</td>
                                <td>{{slot_datetime}}</td>
                                <td>{{slot_quantity}} / {{../room_size}}</td>
                                <td><a class="nav-link" href="/orders/{{id}}">Click Here</a></td>
                            </tr>
                            {{/each}}
                        {{/each}}
                    </tbody>
                </table>
            </div>



    
{{/block}}

{{/extends}}


