{{#extends 'base'}}



{{#block 'content'}}

{{#if success_messages}}
        <div class="alert alert-success">
            {{this.success_messages}}
        </div>
    {{/if}}

    {{#if error_messages}}
        <div class="alert alert-danger">
            {{this.error_messages}}
        </div>
    {{/if}}

{{!-- start of tabs --}}
        <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/products" onclick="">Product Listings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products/add">Add New Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products/manage-sessions">Manage Sessions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/orders/">Manage Orders</a>
        </li>
        </ul>
{{!-- end of tabs --}}
<div>
    <form method="post">
        {{{filterForm}}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        <div class="submit-form-btn-div">
            <input id="add-product-submit-btn"type="submit" value= "Search" class="btn btn-primary"/>
        </div>
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Contact Info</th>
            <th>Order Status</th>
            <th>Actions</th>
            <th>Payment Status</th>
            <th>Order Item Quantity</th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}

        <tr>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>
                {{!-- {{#eq order_item_status "pending"}}
                    <select id={{productslot.id}} name={{user.id}} class="form-select">
                        <option class="change_order_status" value='{"status": "pending", "orderId": "{{order.id}}"}' selected>Pending</option>
                        <option class="change_order_status" value='{"status": "confirmed", "orderId": "{{order.id}}"}'>Confirm Order</option>
                        <option class="change_order_status" value='{"status": "cancelled", "orderId": "{{order.id}}"}'>Cancel Order</option>
                    </select>
                {{/eq}}

                {{#eq order_item_status "confirmed"}}
                    <select id={{productslot.id}} name={{user.id}} class="form-select change_order_status">
                        <option class="change_order_status"  value='{"status": "pending", "orderId": "{{order.id}}"}' >Set Pending</option>
                        <option class="change_order_status" value='{"status": "confirmed", "orderId": "{{order.id}}"}' selected>Order Confirmed</option>
                        <option class="change_order_status" value='{"status": "cancelled", "orderId": "{{order.id}}"}'>Cancel Order</option>
                    </select>
                {{/eq}} --}}
                {{#eq order_item_status "pending"}}
                    <span class="badge bg-warning">Pending</span>
                {{/eq}}
                
                {{#eq order_item_status "confirmed"}}
                    <span class="badge bg-success">Confirmed</span>
                {{/eq}}
            </td>
            <td>
                <btn class="btn btn-warning">Pending</btn>
                <btn class="btn btn-success">Confirm</btn>
                
                <btn class="btn btn-danger">Delete</btn>
            </td>
            <td>{{order.order_status}}</td>
            <td>{{order_item_quantity}}</td>
        </tr>

        {{/each}}
    </tbody>
</table>

{{/block}}

{{#block "script"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
<script>





    {{!-- document.querySelectorAll(".change_order_status").forEach(item => {
        item.addEventListener('click', function(evt) {
            let optionValueObj = JSON.parse(evt.target.value)
            if (optionValueObj.status == "confirmed") {
                let answer = window.confirm("Confirm Order?")
                if (answer) {
                    console.log("confirmed")
                    let currentUrl = window.location.href
                    let result = axios.get(currentUrl + "update-status/confirm", {
                        params: {
                                'userId': this.name,
                                'vendorId': {{vendor.id}},
                                'productSlotId': this.id,
                                'orderId': optionValueObj.orderId
                        }
                    })
                    setTimeout(function() {
                        alert("Order Status Changed")
                        window.location.reload()
                    }, 800)
                } else {
                    console.log("declined")
                    this.value = "pending"
                }
                console.log("test")
            } 
        })
    }) --}}


</script>
{{/block}}

{{/extends}}